<center>
<div>
  <!--[if mso]>
  <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<%=btn.url%>" style="height:40px;v-text-anchor:middle;width:200px;" arcsize="5%" stroke="f" fillcolor="<%=btn.bg_color%>">
    <w:anchorlock/>
    <center>
  <![endif]-->
  <a
    href="<%=btn.url%>"
    style="text-transform:uppercase; background-color:<%=btn.bg_color%>;border-radius:2px;color:<%=btn.font_color%>;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">
    <%=btn.text.upcase%>
  </a>
  <!--[if mso]>
    </center>
  </v:roundrect>
<![endif]--></div>
</center>
